

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

h1 {
    font-family: fantasy;
    font-size: 3rem;
    color: darkblue;
    text-align: center;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

p{
    text-align: justify;
}
@media(max-width:768px){
    .cuatro-columnas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        column-gap: 2rem;
    }
}
@media(min-width:768px){
    .cuatro-columnas{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 5rem;
    }
}
@media(max-width:480px){
    .cuatro-columnas{
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;

    }
}

